<ul class="pagination">
   	<% if st > 1 %>
      <li>
        <%= link_to "<span aria-hidden=\"true\">&laquo;</span>".html_safe, {controller: cont, action: act, page: st - 1} %>
      </li>
    <% end %>
    <% st.upto(en) do |i| %>
      <li>
        <% if i == cur %>
          <%= link_to i, {controller: cont, action: act, page:  i}, class: "active_page" %>
        <% else %>
          <%= link_to i, {controller: cont, action: act, page: i} %>
        <% end %>
      </li>
    <%end%>

    <% if en < pages %>
      <li>
        <%= link_to "<span aria-hidden=\"true\">&raquo;</span>".html_safe, {controller: cont, action: act, page: en + 1} %>
      </li>
    <%end%>
</ul>
