

input {
  height: auto !important;
}

.row {
  width: 100% !important;
}

header {
  min-width: 900px !important;
  border-radius: 0px !important;
}

body {
  min-width: 900px !important;

}

.field_input {
  width: 100%;
  margin-bottom: 15px !important;
}

.top_margin {
  margin-top: 15px !important;
}

.padding_label {
  padding-top: 5px !important;
}
